@model BaiTap2_6113538.Models.Infomation
@{
    ViewBag.Title = "Detail1";
}

<h2>Thong tin sinh vien</h2>
@Html.BeginForm("Detail", "SinhVien_61133538")

<table>
    <tr>
        <td>
            MÃ SINH VIÊN
        </td>
        <td>
            <input type="text" name="Id" />
        </td>
    </tr>

    <tr>
        <td>
            HỌ TÊN
        </td>
        <td>
            <input type="text" name="Name" />
        </td>
    </tr>

    <tr>
        <td>
            ĐIỂM
        </td>
        <td>
            <input type="text" name="Marks" />
        </td>
    </tr>

</table>
<input type="submit" value="đăng ký" />