
@{
    ViewBag.Title = "Detail";
}


<h2>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÝ</h2>
<ul>
    <li>MÃ SINH VIÊN: @ViewBag.Id</li>
    <li>HỌ TÊN: @ViewData["Name"]</li>
    <li>ĐIỂM: @ViewBag.Marks</li>
</ul>
